<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <th:block th:include="fragments/header :: head"></th:block>-->
    <div th:replace="/fragments/header :: header-css-and-meta"/>

</head>
<body>
<div class="container-fluid">
    <div th:replace="/fragments/header :: banner"></div>
    <div th:replace="/fragments/header :: navigation_menu"></div>

    <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">

            <form class="text-center border border-light p-5" method="POST"
                  th:action="@{/admin/topic/update}" th:object="${topic}"
                  enctype="multipart/form-data">

                <p class="h4 mb-4">Update Topic
                <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
                <div class="alert alert-danger" role="alert" th:if="${error}" th:utext="${error}"></div>


                <div class="alert alert-success" role="alert" th:if="${error}" th:utext="${error}"></div>
                <input type="hidden" th:field="*{id}">
                <input type="hidden" id="section" name="section" th:value="${sectionId}">
                <input type="text" th:field="*{topic_name}" class="form-control mb-4"
                       placeholder="write topic or chapter name" required>
                <textarea class="form-control mb-4" rows="3" th:field="*{topic_description}"
                          placeholder="Write something about topic" required/>
                <input type="text" th:field="*{video_name}" class="form-control mb-4"
                       placeholder="Name of Video" required>
                <input type="text" th:field="*{video_path}" class="form-control mb-4"
                       placeholder="Link youtube Video" required>
                <small class="form-text text-muted mb-4">
                            <span class="text-danger align-middle" th:if="${#fields.hasErrors('video_path')}"
                                  th:errors="*{video_path}"></span>
                </small>
                <input class="form-control" type="file" id="formFile" th:name="file">
                <button class="btn btn-info btn-block" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div th:replace="/fragments/header :: footer-Copyright"></div>
</div>

<div th:replace="/fragments/header :: all-js"></div>
</body>
</html>