<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <th:block th:include="fragments/header :: head"></th:block>-->
    <div th:replace="/fragments/header :: header-css-and-meta"/>

</head>
<body>
<div class="container-fluid">
    <div th:replace="/fragments/header :: banner"></div>
    <div th:replace="/fragments/header :: navigation_menu"></div>

    <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Default form contact -->
            <form class="text-center border border-light p-5" method="POST" th:action="@{/admin/course/update}"
                  th:object="${course}" enctype="multipart/form-data">

                <p class="h4 mb-4">Update Course</p>
                <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>

                <input type="hidden" th:field="*{course_id}">
                <table>
                    <div class="row my-3">
                        <div class="col-md-3">
                            <p>Course name</p>
                        </div>
                        <div class="col-md-3">
                            <div class="form--group">
                                <input type="text" class="form-control" th:field="*{course_name}"
                                       placeholder="Course Name" />
                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-3">
                            <p>Visibility</p>
                        </div>
                        <div class="col-md-3">
                            <div class="form--group">
                                <select class="form-control" th:field="*{visibility}">
                                    <option th:each="visibilityOpt : ${T(com.app.model.Visibility).values()}"
                                            th:value="${visibilityOpt}" th:text="${visibilityOpt.displayValue}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-3">
                            <p>Description</p>
                        </div>
                        <div class="col-md-3">
                            <div class="form--group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" th:field="*{description}"
                                          placeholder="Wirte something about course" required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-md-3">
                            <p>File of course</p>
                        </div>
                        <div class="col-md-3">
                            <div class="form--group">
                                <input class="form-control" type="file" id="formFile" th:name="file" >
                            </div>
                        </div>
                    </div>
                </table>
                <div class="row my-3">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-info" type="submit">Update</button>
                        <button class="btn btn-secondary" type="reset">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="/fragments/header :: footer-Copyright"></div>
</div>

<div th:replace="/fragments/header :: all-js"></div>
</body>
</html>