<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css-and-meta"/>
    <style>
        .myButton {
            background-color: #17a2b8;
            border-radius: 6px;
            border: none;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 24px;
            text-decoration: none;
            text-shadow: 0px -1px 0px #5b6178;
        }

        .myButton:hover {
            background-color: #17a2b8;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }

    </style>
</head>
<body>
<div class="container-fluid">

    <div th:replace="/fragments/header :: banner"></div>
    <div th:replace="/fragments/header :: navigation_menu"></div>
    <br>
    <div class="alert alert-secondary" role="alert">QuizManager</div>
    <br>


    <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Section Name :
            </h3>
            <h3 th:text="${section.name}">
            </h3>
            <table class="table table-striped">
                <thead>
                <th>Quiz ID</th>
                <th>Quiz Name</th>
                <th>Start Time</th>
                <!-- Time & Date -->
                <th>End Time</th>
                <!-- Time & Date -->
                <th>Quiz Time</th>
                <th th:if="${#strings.equals(#authentication.getAuthorities()[0], 'TEACHER')}">Delete</th>
                <th th:if="${#strings.equals(#authentication.getAuthorities()[0], 'TEACHER')}">View Mark</th>
                <th th:if="${#strings.equals(#authentication.getAuthorities()[0], 'TEACHER')}">Create By</th>
                <th th:if="${#strings.equals(#authentication.getAuthorities()[0], 'TEACHER')}">Update</th>
                <th th:if="${#strings.equals(#authentication.getAuthorities()[0], 'STUDENT')}">Do quiz</th>
                </thead>


                <tbody>
                <tr th:each="quiz, quizStart : ${quizList}">
                    <td th:text="${quiz.getQuizId()}"></td>
                    <td th:text="${quiz.getName()}"></td>
                    <td th:text="${quiz.getStartDate()}">
                    </td>
                    <td th:text="${quiz.getEndDate()}">
                    </td>
                    <td th:text="${quiz.getTotalTime()}">
                    </td>

<!--                    <td style="width:1%" th:if="${#strings.equals(#authentication.getAuthorities()[0], 'TEACHER')}">-->
<!--                        <a target="_blank" th:href="@{/manager/quiz/delete_quiz/}">Delete</a>-->
<!--                    </td>-->
                    <td style="width:1%" th:if="${#strings.equals(#authentication.getAuthorities()[0], 'TEACHER')}">
                        <a  th:href="@{/manager/quiz/delete_quiz/__${quiz.getQuizId()}__/__${sectionId}__}">Delete</a>
                    </td>
<!--                    <td >View-->
<!--                    </td>-->
<!--                    <td th:text="${quiz.getUser()}">-->
<!--                    </td>-->
                    <td th:if="${#strings.equals(#authentication.getAuthorities()[0], 'TEACHER')}">
                        <a  th:href="@{/manager/history/__${quiz.getQuizId()}__}">View mark</a>
                    </td>
                    <td th:text="${quiz.getUser()}"
                        th:if="${#strings.equals(#authentication.getAuthorities()[0], 'TEACHER')}">
                    </td>
<!--                    <td style="width:1%" th:if="${#strings.equals(#authentication.getAuthorities()[0], 'TEACHER')}">-->
<!--                        <a target="_blank" th:href="@{/manager/quiz/update_quiz/}">Update</a>-->
<!--                    </td>-->
                    <td style="width:1%" th:if="${#strings.equals(#authentication.getAuthorities()[0], 'TEACHER')}">
                        <a th:href="@{/manager/quiz/update_quiz/__${quiz.getQuizId()}__/__${sectionId}__}">Update</a>
                    </td>
                    <td style="width:1%" th:if="${#strings.equals(#authentication.getAuthorities()[0], 'STUDENT')}">
                        <form th:action="@{/user/quiz/do_quiz/__${quiz.getQuizId()}__}">
                            <input th:id="${quizStart.count}" class="myButton" type="submit" name="Create Quiz"
                                   value="Do Quiz"/>
                        </form>
                    </td>

                    <script th:inline="javascript">
                        var now = new Date().getTime();
                        var timeStart = new Date([[${quiz.getStartDate()}]]).getTime();
                        var timeEnd = new Date([[${quiz.getEndDate()}]]).getTime();
                        if (now < timeStart || now > timeEnd) {
                            document.getElementById([[${quizStart.count}]]).disabled = true;
                            document.getElementById([[${quizStart.count}]]).style.backgroundColor = '#abb8c3';
                        }
                    </script>
                </tr>
                </tbody>
            </table>
            <!-- Create Quiz Button -->
            <form method="GET" th:action="@{/manager/quiz/create_new_quiz/__${sectionId}__}"
                  th:if="${#strings.equals(#authentication.getAuthorities()[0], 'TEACHER')}">
                <input class="myButton" type="submit" name="Create Quiz" value="Create Quiz"/>
                <input type="hidden" th:name="sectionId" th:value="${sectionId}">
            </form>

        </div>
    </div>
</div>

<div th:replace="/fragments/header :: all-js"></div>
</body>
</html>