<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css-and-meta"/>
    <style>
        .myButton {
            background-color: #17a2b8;
            border-radius: 6px;
            border: none;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 24px;
            text-decoration: none;
            text-shadow: 0px -1px 0px #5b6178;
        }

        .myButton:hover {
            background-color: #17a2b8;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }

    </style>
</head>
<body>

<div class="container-fluid">
    <div th:replace="/fragments/header :: banner"></div>
    <div th:replace="/fragments/header :: navigation_menu"></div>
    <div class="row justify-content-center">
        <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3"></div>

        <div style="padding-bottom: 10%" class="col-xl-10 col-sm-6 col-md-6 col-lg-10">
            <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
<!--            <div th:if="${msg}" class="alert alert-info"><a th:href="@{/manager/quiz/create_quiz/__${sectionId}__}">Go-->
<!--                to Quiz Manager page</a></div>-->

            <p style="text-align: center; padding: 3rem" class="h4 mb-4">Quiz Detail</p>
            <form style="display:block;" th:action="@{/manager/quiz/update_quiz}" method="POST">
                <div class="form-row">
                    <!-- Quiz Name -->
                    <label>Quiz name:</label>
                    <input type="hidden" th:value="${quiz.getQuizId()}" th:name="txtquizId">
                    <input type="text" th:value="${quiz.getName()}" th:name="txtQuizName" class="form-control mb-4"><br><br>
                    <!-- Quiz Time -->
                    <label>Time of Quiz:</label>
                    <input type="number" th:name="TimeOfQuiz" th:value="${quiz.getTotalTime()}" class="form-control mb-4"><br><br>
                    <!-- Set Start Time -->
                    <div style="display: flex; flex-direction: column;">
                        <div style="display: flex; flex-direction: column">
                            Start date:
                            <input type="date" id="start" name="trip_start" class="form-control mb-4"
                                   min="2021-01-01" max="2025-12-31"
                                   th:value="${start_date}">
                            <script type="text/javascript">
                                document.getElementById("start").valueAsDate = new Date();
                            </script>
                            Start time:
                            <input id="appt-start-time" type="time" name="appt_time" class="form-control mb-4"
                                   min="00:00" max="23:59" required pattern="[0-12]{2}:[0-12]{2}"
                                   th:value="${start_time}">
                            <span class="validity"></span>
                        </div>
                        <!-- Set End Time -->
                        <div style="display: flex; flex-direction: column">
                            End date:
                            <input type="date" id="end" name="trip_end" class="form-control mb-4"
                                   min="2021-01-01" max="2025-12-31"
                                   th:value="${end_date}">
                            <script type="text/javascript">
                                document.getElementById("end").valueAsDate = new Date();
                            </script>
                            End time:
                            <input id="appt-end-time" type="time" name="end_time" class="form-control mb-4"
                                   min="00:00" max="23:59" required pattern="[0-24]{2}:[0-24]{2}"
                                   th:value="${end_time}">
                            <span class="validity"></span>
                        </div>
                    </div>
                </div>

                <!-- Update button -->
                <input class="myButton" type="submit" value="Submit">
                <br><br>

                <!-- Question Table -->
                <table border="1" class="table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Correct Answer</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="question, questionStat : ${ListQuestionForQuiz}">
                        <form th:action="@{/admin/question/update}" method="post">
                            <input type="hidden" th:name="sectionId" th:value="${sectionId}">
                            <input type="hidden" th:name="questionId"
                                   th:value="${question.getQuestion().getQuestionID()}"/>
                            <td style="width:1%" th:text="${questionStat.count}"></td>
                            <td>
                            <textarea style="border:none;width:100%;" name="questionContent"
                                      th:text="${question.question.getQuestion()}" rows="5"/>
                            </td>
                            <td>
                                <div th:each="answer, answerStat : ${question.getQuestion().getAnswerList()}">
                                    <span th:text="${answerStat.count}"></span>.
                                    <input style="width:93%;border:none"
                                           th:name="answer + ${answer.question.questionID}"
                                           th:value="${answer.answer}"/>
                                </div>
                            </td>
                            <td style="width:1%">
                                <div th:each="answer, answerStat : ${question.getQuestion().getAnswerList()}">
                                    <label th:if="${answer.status == true}" th:text="${answerStat.count}"></label>
                                </div>
                            </td>
                            <td style="width:1%">
                                <a th:href="@{/manager/quiz/delete_questionInQuiz/__${quiz.getQuizId()}__/__${sectionId}__/__${question.getQuestion().getQuestionID()}__}">Delete</a>
                            </td>
                        </form>
                    </tr>
                    </c:forEach>
                    </tbody>
                </table>


            </form>

        </div>
        <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3"></div>
    </div>


</div>
<div th:replace="/fragments/header :: all-js"></div>
</body>
</html>